<section id="#r/lauriesshowerthoughts">
<h4> Laurie's r/showerthoughts </h4>


<div>
<a href="/showerthoughts/new"> Thinkin' of something? </a>
</div>


<% @showerthoughts.each do |showerthought| %>
  <div>
    <div>
      <p><%= showerthought.thought %></p>
      <p><%= showerthought.created_at %></p>
      <p><a href='/showerthoughts/<%= showerthought.id %>/edit'> Edit </a>
      <a href='/showerthoughts/<%= showerthought.id %>'></a></p>
    </div>
  </div>

<% end %>
</section>













